flask-test-app-chart/templates/*.yaml linguist-language=YAML
flask-test-app-chart/templates/*.yml linguist-language=YAML
flask-test-app-chart/templates/*.tpl linguist-language=Go
flask-test-app-chart/Chart.yaml linguist-language=YAML
