[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=3.1"
gunicorn = "~=23.0"
prometheus-flask-exporter = "~=0.23"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.13"
